# macOS
.DS_Store

# build artifacts
docs/build/

# demo outputs
outputs/

# python cache
__pycache__/
*.pyc
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Data / results
data/
outputs/

# Docs build artifacts
docs/_build/
docs/source/_static/

# R
.Rhistory
